<div class="container">
  <div class="page-heading">
    <h3>Add New Stock</h3>
    <span class="add-more-btn" (click)="addNewEntry()">Add More</span>
  </div>

  <form [formGroup]="addStockForm" (ngSubmit)="onClickSubmit(addStockForm.value)">

    <div class="mb-3 form-item-margin" >
        <label class="form-label">Stock Name</label>
        <input type="text" class="form-control" id="stockName" placeholder="eg. SBI" formControlName="stockName">
      </div>
      
      <div formArrayName="stockInfo" *ngFor="let formItem of addStockForm.get('stockInfo').controls;let i = index" >
      <div class="add-stock-form-holder" [formGroupName]="i">
        <div class="mb-3 form-item-margin" >
        <label class="form-label">Date</label>
        <input type="text" class="form-control" formControlName="stockDate"  placeholder="21/01/2021" >
      </div>
      
      <div class="mb-3 form-item-margin" >
        <label class="form-label">Price</label>
        <input type="text" class="form-control" formControlName="stockPrice" placeholder="Rs. 125">
      </div>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    </form>
      
</div>